
 .container1{
	max-width: 1366px;
	/* 1366x768	16:9*/
	margin:auto;
}

.burgerMenu, .mobH1{
	display:none;
}
 header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
.container2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    top: 60%;
    left: 10%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
}
.container2 li {
    display: inline;
}

.container2 li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.welcome{
    top: 20px;
    left: 120px;
    font-size: 3em;
    position: absolute;
    background-color: white;

}
.active{
    color: white;
    text-decoration: underline;
}

body{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
}

.container {
    margin: 10px 40px;
    display: block;
    flex-direction: column;
}
.games{
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    
}

.gameInfo{
    font-size: 10px;
    text-align: center;
    background-color: grey;
    
    padding: 10px 0px;
    margin-bottom: 15px
}

.matchup{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
   
}

.score{
    width: 50px;
}

.stats{
    text-align: center;
    
}
.statDetails{
    text-align: left;
    font-size: 12px;
    display: none;
}

@media (min-width: 740px) {
	 
	.container {
		justify-content: space-between;
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
         
    } 
    .games{
        margin-right: 10px;
    }
        
}
