/* /*
.container1{
	max-width: 1366px;
	/* 1366x768	16:9*/
/*	margin:auto;
}
*/
/* .container2{
    background-color: transparent;
    width: 100%;
    margin: auto;
}


.burgerMenu, .mobH1{
	display:none;
}
 header {
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    
}
.banner{
	background-repeat: no-repeat;
    height:200px;
    display: flex;
    width:100%
}
.banner h2{
	top:20px;
	left:120px;
	font-size: 2em;
}
.container2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    top: 60%;
    left: 10%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    display: block
    /* margin-left: auto;
    margin-right: auto; */
/*}
.searchItem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
}
.container2 ul li {
    display: inline-block;
    list-style: none;
    height: 100%;
}

.container2 li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}
.container2 li a:hover{
    background-color:gray;
}
.welcome{
    top: 20px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    background-color:transparent;
}
.active{
    color: white;
    text-decoration: underline;
}



/*Steves*/
/*body{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
}
.container {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    
}
.games{
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 480px;
    
}
.gameInfo{
    font-size: 10px;
    text-align: center;
    background-color: grey;
    
    padding: 10px 0px;
    margin-bottom: 15px
}
.matchup{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
   align-items: center;
}
.score{
    width: 50px;
}
.vs{
    font-size: 10px;
}
.stats{
    text-align: center;
    
}
.statDetails{
    text-align: left;
    font-size: 12px;
    display: none;
}
.dblLabel{
    font-size: 8px;
}
.doublePts{
    display: block;
}

#submitDiv{
    width: 100%;
    display: flex;
    justify-content: center;

}
#submit{
    
}

@media (min-width: 740px) {
     
    .container {
        justify-content: space-evenly;
        
        flex-direction: row;
        flex-wrap: wrap;
        
         
    } 
    .games{
        margin-right: 10px;
    }
        
} */
/* .banner h2{
	top:20px;
	left:120px;
	font-size: 2em;
}
.burgerMenu, .mobH1{
	display:none;
}
nav{
    display:block;
}
nav ul{
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction:row;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    list-style-type: none;
    /* 
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    top: 60%;
    left: 10%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    display: block
    /* margin-left: auto;
    margin-right: auto; */
}
/*
nav ul li{
    border: none;
    padding:20px;
    width:100%;
}
nav ul li a{
    border-left: 1px solid #DDEAF2;
    color: #000000;
    padding:5px 10px;
    transition: 0.4s;
    background-color:transparent;
}
li a:hover{
    background-color:gray;
}
.container{
    padding: 5px;
    width: 25%; 
}
.active{
    color: white;
    text-decoration: underline;
}
.matchup{
    display: flex;
    box-sizing: border-box;
}

.main{
    width:70%; 
} 
.searchItem{
    order: -1; 
}
.container1{
	max-width: 1366px;
    margin:auto;
    width: 100%;
}
*/


/* Steven's */

/* body{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
} 

.container {
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
}
.games{
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 480px;
    position: relative;
}
.gameInfo{
    font-size: 10px;
    text-align: center;
    width: 100%;
    background-color: grey;
    /* pa10px 10px;dding:  */
  /*  margin-bottom: 15px;
}
.matchup{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}
.score{
    width: 50px;
}
.vs{
    font-size: 10px;
}
.stats{
    text-align: center;
    
}
.statDetails{
    text-align: left;
    font-size: 12px;
    display: none;
}
.dblLabel{
    font-size: 8px;
}
.doublePts{
    display: block;
}

#submitDiv{
    width: 100%;
    display: flex;
    justify-content: center;

}
#submit{
    
}
.games{
    padding: 5px;
    width: 100%;
    /* box-sizing: border-box; */
}
/*.matchup{
    width: 100%;
}
@media (min-width: 740px) {
     
    .container {
        justify-content: space-evenly;
        
        flex-direction: row;
        flex-wrap: wrap;
        
         
    } 
    .games{
        margin-right: 10px;
    }
        
}  */
.container{
	max-width: 1366px;
	/* 1366x768	16:9*/
	margin:auto;
}
.burgerMenu, .mobH1{
	display:none;
}
header nav ul li h1{
	display:block;
	padding:0;
	margin:5px;
	font-size:1.2rem;
	color: #DDEAF2;
}
.banner{
	background-repeat: no-repeat;
	height:200px;
}
.banner h2{
	top:20px;
	left:120px;
	font-size: 5em;
}
nav{
    display:block;
}
nav ul{
	/* display: flex; */
	justify-content: space-between;
	flex-direction: row;
}
.searchItem{
	order: 0;
}
nav ul li{
    border: none;
    padding:5px;
    width:160px;
}
nav ul li a{
    border-left: 1px solid #DDEAF2;
    color: black;
    padding:5px 10px;
    transition: 0.4s;
    background-color: transparent;
}
.matchup{
    padding: 5px;
    width: 25%; 
}

.main{
    width:70%;
    display: flex;
    box-sizing: border-box;
} 
/* .sideBar{
    background-color: #8D6E5F;
    color:#DDEAF2;
    border-radius: 4px;
    margin-left:10px;
    padding:8px;
    width:30%; 
} */ 
@media (min-width: 601px) and (max-width: 1122px) { nav ul {
    justify-content: space-between;
}
nav ul li{
    width:auto;
}
nav ul li a{
    width:auto;
}
nav ul li:last-child {
    width: auto;
}
nav ul li form input[type=search]{
    width: 120px;
} 
}
