.container{
	max-width: 1366px;
	/* 1366x768	16:9*/
	margin:auto;
}
@media (min-width: 601px) and (max-width: 1122px) {
	 
	.games {
		  justify-content: space-between; 
        flex-basis: 50%;
        } 
        
}

body{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
}

.container {
    margin: 10px 40px;
}
.games{
    border: 1px solid black;
    border-radius: 4px;
     width: 100%; 
    flex-wrap: wrap;   
 
}

.gameInfo{
    font-size: 10px;
    text-align: center;
    background-color: grey;
    height: 100%;
    padding: 10px 0px;
    margin-bottom: 15px
}

.matchup{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
   
}

.score{
    width: 50px;
}

.stats{
    text-align: center;
    
}
.statDetails{
    text-align: left;
    font-size: 12px;
    display: none;
}

