
.container1{
	max-width: 1366px;
	/* 1366x768	16:9*/
	margin:auto;
}
.container2{
    width: 100%;
    margin: auto;
}
.team3Name{
    color: red;
}

.burgerMenu, .mobH1{
	display:none;
}
 header {
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    
}
.banner{
	background-repeat: no-repeat;
    height:200px;
    display: flex;
    width:100%
}
.banner h2{
	top:20px;
	left:120px;
	font-size: 2em;
}
.container2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    top: 60%;
    left: 10%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
}
.searchItem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
}
.container2 ul li {
    display: inline-block;
    list-style: none;
    height: 100%;
}

.container2 li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}
.container2 li a:hover{
    background-color:gray;
}
.welcome{
    top: 20px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    background-color:transparent;

}
.active{
    color: white;
    text-decoration: underline;
}



/*Steves*/
body{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
}
.container {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    
}
.games{
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 480px;
    
}
.gameInfo{
    font-size: 10px;
    text-align: center;
    background-color: grey;
    
    padding: 10px 0px;
    margin-bottom: 15px
}
.matchup{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
   align-items: center;
}
.name{
    font-size: 14px;
}
.score{
    width: 50px;
}
.vs{
    font-size: 10px;
}
.stats{
    text-align: center;
    
}
.statDetails{
    text-align: left;
    font-size: 12px;
    display: none;
}
.dblLabel{
    font-size: 8px;
}
.doublePts{
    display: block;
}

#submitDiv, #editDiv, #saveChanges{
    width: 100%;
    display: flex;
    justify-content: center;

}

.bannerImg{
  width:100%;
  background-repeat: no-repeat;
  height:200px;
}

#saveChanges{
    visibility: hidden;
}
#editButton{
    visibility: hidden;
}



@media (min-width: 740px) {
    
    
    .container {
        justify-content: space-evenly;
        
        flex-direction: row;
        flex-wrap: wrap;
        
         
    } 
    .games{
        margin-right: 10px;
    }
        
}